/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.index-block {
  display: flex;
  flex-direction: column;
  background-color: #a0cddc;
  cursor: pointer; }

.index-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
  flex-shrink: 0; }

.index-decorator {
  background: var(--src) center center/contain no-repeat; }

.index-decorator.layout {
  position: absolute;
  top: 220px;
  height: 952px;
  left: 279px;
  width: 881px; }

.index-group {
  display: flex;
  flex-direction: column; }

a:link {    /* unvisited link */
    color: #a0cddc;
    text-decoration: none;
    border-bottom: none;
}
a:visited {    /* visited link */
    color: #a0cddc;
    text-decoration: none;
    border-bottom: none;
}
a:hover {    /* mouse over link */
    color: #a0cddc;
    border-bottom: none;
    text-decoration: none;
}
a:active {    /* active link */
    color: #a0cddc;
    text-decoration: none;
    border-bottom: none;
}

.index-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 96px 0px 851px; }

.index-hero-title {
  display: flex;
  justify-content: center;
  font: 64px/1.2 "Oleo Script", Helvetica, Arial, serif;
  color: #e5e5e5;
  text-align: center;
  letter-spacing: 0px; }

.index-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.index-hero-title1 {
  display: flex;
  justify-content: center;
  font: 36px/1.2 "Oleo Script", Helvetica, Arial, serif;
  color: #e5e5e5;
  text-align: center;
  letter-spacing: 0px; }

.index-hero-title1.layout {
  position: absolute;
  height: 87px;
  bottom: -856px;
  left: 495px;
  width: 449px; }
