/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.login-block {
  display: flex;
  flex-direction: column;
  background-color: #a0cddc; }

.login-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 896px;
  flex-shrink: 0; }

.login-block1 {
  display: flex;
  flex-direction: column;
  background-color: #a0cddc; }

.login-block1.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.login-flex {
  display: flex;
  flex-direction: column; }

.login-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 57px 28px; }

.login-cover-block {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform; }

.login-cover-block:hover {
  transform: scale(1.1); }

.login-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 38px;
  min-width: 38px; }

.login-image4 {
  background: var(--src) center center/contain no-repeat;
  cursor: pointer; }

.login-image4.layout {
  position: relative;
  height: 15px;
  width: 24px;
  min-width: 24px;
  margin: 12px 7px 11px; }

.login-big-title {
  display: flex;
  align-items: center;
  font: 700 32px/0.75 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.35px; }

.login-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 60px 7px 0px; }

.login-highlights {
  display: flex;
  align-items: center;
  font: 16px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.18px; }

.login-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 18.5px 65px 0px 7px; }

.login-highlights1 {
  display: flex;
  align-items: center;
  font: 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.18px; }

.login-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 39.5px 7px 0px; }

.login-cover-block3 {
  display: flex;
  border: 1.5px solid #172744;
  border-radius: 16px 16px 16px 16px; }

.login-cover-block3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 6px 8px 0px 7px; }

.login-cover-block3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 40px; }

.login-icon {
  background: var(--src) center center/contain no-repeat; }

.login-icon.layout {
  position: relative;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin: 18px 0px 18px 20px; }

.login-cover-block3-spacer {
  flex: 0 1 15px; }

.login-highlights3 {
  display: flex;
  align-items: center;
  font: 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: #e5e5e5;
  letter-spacing: -0.18px; }

.login-highlights3.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 117px 16px 0px; }

.login-highlights2 {
  display: flex;
  align-items: center;
  font: 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.18px; }

.login-highlights2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 28px 7px 0px; }

.login-cover-block2 {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #172744;
  border-radius: 16px 16px 16px 16px; }

.login-cover-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 6px 8px 0px 7px; }

.login-flex1 {
  display: flex; }

.login-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 18px 22px; }

.login-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 16px; }

.login-flex2 {
  display: flex;
  flex-direction: column; }

.login-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.login-image2 {
  background: var(--src) center center/contain no-repeat; }

.login-image2.layout {
  position: relative;
  height: 6px;
  width: 10px;
  min-width: 10px;
  margin: 0px 3px; }

.login-cover-group {
  display: flex;
  flex-direction: column; }

.login-cover-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.login-image {
  background: var(--src) center center/contain no-repeat; }

.login-image.layout {
  position: absolute;
  top: 0px;
  height: 5px;
  left: 0px;
  width: 3px;
  min-width: 3px;
  margin: 4px 6px 4px 7px; }

.login-image1 {
  background: var(--src) center center/contain no-repeat; }

.login-image1.layout {
  position: relative;
  height: 13px;
  width: 16px;
  min-width: 16px; }

.login-flex1-spacer {
  flex: 0 1 17px; }

.login-flex1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 6px; }

.login-icon1 {
  background: var(--src) center center/contain no-repeat; }

.login-icon1.layout {
  position: relative;
  height: 6px;
  width: 6px;
  min-width: 6px;
  margin: 7px 0px; }

.login-flex1-spacer1 {
  flex: 0 1 1px; }

.login-flex1-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-image3 {
  background: var(--src) center center/contain no-repeat; }

.login-image3.layout {
  position: relative;
  height: 6px;
  width: 5px;
  min-width: 5px;
  margin: 7px 0px; }

.login-flex1-spacer2 {
  flex: 0 1 2px; }

.login-flex1-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer3 {
  flex: 0 1 2px; }

.login-flex1-item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer4 {
  flex: 0 1 2px; }

.login-flex1-item5 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer5 {
  flex: 0 1 2px; }

.login-flex1-item6 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer6 {
  flex: 0 1 2px; }

.login-flex1-item7 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer7 {
  flex: 0 1 2px; }

.login-flex1-item8 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.login-flex1-spacer8 {
  flex: 0 1 1px; }

.login-flex1-item9 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 211px; }

.login-icon1.layout1 {
  position: relative;
  height: 6px;
  width: 6px;
  min-width: 6px;
  margin: 7px 205px 7px 0px; }

.login-flex-item {
  display: flex;
  flex-direction: column;
  position: relative; }

.login-block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247059);
  border: 1px solid #172744;
  border-radius: 16px 16px 16px 16px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform; }

.login-block2:hover {
  transform: scale(0.9); }

.login-block2.layout {
  position: relative;
  height: 56px;
  margin: 58px 8px 0px 7px; }

.login-highlights21 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: #172744;
  text-align: center;
  letter-spacing: -0.18px; }

.login-highlights21.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px auto 0px; }

.login-line {
  background-color: black; }

.login-line.layout {
  position: relative;
  height: 1px;
  margin: 28px 8px 0px 7px; }

.login-cover-block1 {
  display: flex;
  border: 1.5px solid black;
  border-radius: 16px 16px 16px 16px; }

.login-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 29px 8px 0px 7px; }

.login-cover-block1-spacer {
  flex: 1 1 70px; }

.login-cover-block1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px; }

.login-icon2 {
  background: var(--src) center center/contain no-repeat; }

.login-icon2.layout {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 16px 4px 16px 0px; }

.login-highlights4 {
  display: flex;
  align-items: center;
  font: 700 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: #1c1c1c;
  letter-spacing: -0.18px; }

.login-highlights4.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 0px 16px 4px; }

.login-cover-block1-spacer1 {
  flex: 1 1 60px; }

.login-flex3 {
  display: flex; }

.login-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 39.5px auto 114.5px; }

.login-highlights.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.login-flex3-spacer {
  flex: 0 0 auto;
  min-width: 2px; }

.login-highlights11 {
  display: flex;
  align-items: center;
  font: 700 16px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  text-decoration: underline;
  letter-spacing: -0.18px;
  cursor: pointer; }

.login-highlights11.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }
