<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Dashboard.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.3.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="dashboard dashboard-block layout">
      <div
        style="--src:url(/static/images/ef5e2a94ff3bfc8e5fe9da7dd87434ae.png)"
        class="dashboard-decorator layout"
      ></div>
      <div class="dashboard-flex layout">
        <h1 class="dashboard-big-title layout">Hey There!</h1>
        <h5 class="dashboard-highlights layout">
          How may we be of assisstance?
        </h5>
        <a href="http://127.0.0.1:5000/chatbot">
        <div class="dashboard-flex-item">
          <div class="dashboard-block1 layout">
            <px-posize
              track-style='{"flexGrow":1}'
              x="92.5fr 17.57% 90.5fr"
              y="20.5px minmax(0px, 24fr) 20.5fr"
              ><h5 class="dashboard-highlights1">Chat</h5></px-posize
            >
          </div>
        </div>
        </a>
        <div class="dashboard-flex-item">
          <div class="dashboard-block11 layout">
            <px-posize
              track-style='{"flexGrow":1}'
              x="78.5fr 28.83% 79.5fr"
              y="20.5px minmax(0px, 24fr) 20.5fr"
              ><h5 class="dashboard-highlights1">Monitor</h5></px-posize
            >
          </div>
        </div>
        <div class="dashboard-flex-item">
          <div class="dashboard-block1 layout1">
            <px-posize
              track-style='{"flexGrow":1}'
              x="78.5fr 31.53% 73.5fr"
              y="20.5px minmax(0px, 24fr) 20.5fr"
              ><h5 class="dashboard-highlights1">Account</h5></px-posize
            >
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
