<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Register.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="register register-block layout">
      <div class="register-block1 layout">
        <div class="register-flex layout">
          <a href="http://127.0.0.1:5000/welcome">
          <div
            style="--src:url(/static/images/5ef8cde49dcebe28256d1240afe5de63.png)"
            class="register-cover-block4 layout"
          >
            <div
              style="--src:url(/static/images/6cfa2d8129a0613083c98386eef19f59.png)"
              class="register-image layout"
            ></div>
          </div>
          </a>
          <h1 class="register-big-title layout">Register</h1>
          <h5 class="register-highlights-box layout">
            <div class="register-highlights">
              <span class="register-highlights-span0">Create an </span
              ><span class="register-highlights-span1">account</span
              ><span class="register-highlights-span2">
                to access all the features of </span
              ><span class="register-highlights-span3">Maxpense!</span>
            </div>
          </h5>
          <h5 class="register-highlights4 layout">Email</h5>
          <div class="register-cover-block2 layout">
            <div class="register-cover-block2-item">
              <div
                style="--src:url(/static/images/9cac0d8ca65dd6976c888fb72fad0395.png)"
                class="register-icon1 layout"
              ></div>
            </div>
            <div class="register-cover-block2-spacer"></div>
            <h5 class="register-highlights3 layout">Ex: abc@example.com</h5>
          </div>
          <h5 class="register-highlights1 layout">Your Name</h5>
          <div class="register-cover-block1 layout">
            <div class="register-cover-block1-item">
              <div
                style="--src:url(/static/images/9fa6ac69bfb895a4a875e6e549956130.png)"
                class="register-image1 layout"
              ></div>
            </div>
            <div class="register-cover-block1-spacer"></div>
            <h5 class="register-highlights3 layout1">Ex. Saul Ramirez</h5>
          </div>
          <h5 class="register-highlights4 layout1">Your Password</h5>
          <div class="register-cover-block layout">
            <div class="register-flex1 layout">
              <div class="register-flex1-item">
                <div class="register-flex2 layout">
                  <div
                    style="--src:url(/static/images/8efb5a1b20ed5526853f161f305b6265.png)"
                    class="register-image4 layout"
                  ></div>
                  <div class="register-cover-group layout">
                    <div
                      style="--src:url(/static/images/0184d86e50ab13da466609d4bfd3aa3c.png)"
                      class="register-image2 layout"
                    ></div>
                    <div
                      style="--src:url(/static/images/558583036a9d7e5771679a31f5e941aa.png)"
                      class="register-image3 layout"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="register-flex1-spacer"></div>
              <div class="register-flex1-item1">
                <div
                  style="--src:url(/static/images/23093bf6525c480a652f42b1fd97fb23.png)"
                  class="register-icon2 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer1"></div>
              <div class="register-flex1-item2">
                <div
                  style="--src:url(/static/images/64222e2401f7c0a5b32f206d2f2c1e97.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer2"></div>
              <div class="register-flex1-item3">
                <div
                  style="--src:url(/static/images/e9c0b74cc88baafbf1292684b629d6f6.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer3"></div>
              <div class="register-flex1-item4">
                <div
                  style="--src:url(/static/images/2b6acf45081537c0c1168f37ca0ecbd8.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer4"></div>
              <div class="register-flex1-item5">
                <div
                  style="--src:url(/static/images/b6b6b375d9e6afbefd0fd8acd9286c5b.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer5"></div>
              <div class="register-flex1-item6">
                <div
                  style="--src:url(/static/images/3182bdac1716880942a2b4e0c218155c.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer6"></div>
              <div class="register-flex1-item7">
                <div
                  style="--src:url(/static/images/1a98c548c2812d01f37be1de38b6e190.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer7"></div>
              <div class="register-flex1-item8">
                <div
                  style="--src:url(/static/images/44b12cd66acedbd143b41e729d25ec1d.png)"
                  class="register-image5 layout"
                ></div>
              </div>
              <div class="register-flex1-spacer8"></div>
              <div class="register-flex1-item9">
                <div
                  style="--src:url(/static/images/634b09abe290f221b7af06234fd1c1f2.png)"
                  class="register-icon2 layout1"
                ></div>
              </div>
            </div>
          </div>
          <a href="http://127.0.0.1:5000/dashboard">
          <div class="register-cover-block3 layout">
            <h5 class="register-highlights2 layout">Register</h5>
          </div>
          </a>
          <div class="register-flex-item">
            <div class="register-flex3 layout">
              <h5 class="register-highlights5 layout">
                Already have an account?
              </h5>
              <div class="register-flex3-spacer"></div>
              <a class="register-highlights11 layout" href="http://127.0.0.1:5000/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
